/node_modules
/public/hot
/public/archive
/public/invoices
/public/uploads/thumbs
/public/uploads/sku
/public/uploads/thumbs1
/public/storage
/resources/files/dashboard.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/logs